@{
  Layout = "_Layout";
}

<h1>Welcome to the Registrar</h1>
<button class="btn btn-light">@Html.ActionLink("See all Courses", "Index", "Courses")</button>
<button class="btn btn-light">@Html.ActionLink("See all Students", "Index", "Students")</button>